#about{
    background-color: var(--primary-color);
    padding: 5rem 0rem;
    z-index: 999;
    
}

.about__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--font-color);
}

.service{
    color: var(--blue-color);
}

.about__wrapper p{
    margin-top: 12px;
    color: gray;
}

.about__wrapper--header{
    margin-bottom: 50px;
}

.about__wrapper--grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    justify-content: space-around;
    grid-gap: 8px;
}

.about__grid{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
}

.about__grid--img{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    background-color: var(--light-color);
    border-radius: 0.75rem;
    height: 120px;
    width: 120px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.about__grid:hover{
    transform: translateY(-2rem);
}