#about{
    background-color: hsl(29, 46%, 88%);
    padding: 2rem 0rem;
    z-index: 999;
    position: relative;
    top: -480px;
}

.about__grid  h4{
    position: relative;
    top: -30px;
}

.about__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #734f36;
}

.service{
    color: #475461;
}

.about__wrapper p{
    margin-top: 12px;
    color: gray;
}

.about__wrapper--header{
    margin-bottom: 50px;
}

.about__wrapper--grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    justify-content: space-around;
    grid-gap: 8px;
}

.about__grid{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
}

.about__grid--img{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    background-color: hsl(30, 37%, 93%);
    border-radius: 0.75rem;
    height: 120px;
    width: 120px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.about__grid:hover{
    transform: translateY(-2rem);
}

@media (max-width: 880px){
    #about{
        position: relative;
        top: -210px;
    }
}

@media (max-width: 760px){
    #about{
        position: relative;
        top: 130px;
    }
}

@media (max-width: 440px){

    #about{
        position: relative;
        top: 160px;
    }
}

@media (max-width: 400px){
    #about{
        position: relative;
        top: 200px;
    }
}

@media (max-width: 370px){
    #about{
        padding: 20px;
    }
}

@media (max-width: 360px){
    #about{
        position: relative;
        top: 220px;
    }
    .about__grid--img{
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 335px){
    #about{
        position: relative;
        top: 250px;
    }
}

@media (max-width: 316px){
    #about{
        position: relative;
        top: 300px;
    }
}