body{
    font-size: 100%;
    font-family: 'Lora', serif ,"Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    align-items: center;
    background: #F9F8F6;
    width: 100%;
    margin-bottom: 100px;
}