.navbar__btn{
    border: 1px solid #F9F8F6;
    background: transparent;
}

.navbar__btn:hover{
    background-color: transparent;
    border-color: #cfa784;
    background-color: #F9F8F6;
    border: 1.5px solid #cfa784;
}

.slider__btn{
    background-color: transparent;
    border: none;
    padding: 8px;
    color: hsl(29, 46%, 88%);
}

.slider__btn:hover{
    background-color: transparent;
    border: none;
    color: #734f36;
}

.profile__btn{
    padding: 7px;
    align-items: center;
    background-color: #734f36;
    border: none;
}

.profile__btn:hover{
    border: none;
}

.btn__categories{
    margin-top: 36px;
}