.categories__wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #734f36;
    padding: 35px;
    top: -350px;
}

.service{
    color: #475461;
}

.categories__wrapper p{
    color: gray;
}
.categories__wrapper h2{
    color: black;
    margin-top: 12px;
}

.categories__wrapper--header{
    margin-bottom: 50px;
    max-width: 350px;
}

.categories__wrapper--grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    justify-content: space-around;
    grid-gap: 14px;
}
.categories__wrapper--grid img{
    border-radius: 20px;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.categories__wrapper{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.categories__wrapper--img{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: var(--light-color);
    border-radius: 0.75rem;
    height: 90px;
    margin-bottom: 10px;
    width: 90px;
}

.categories__grid--img{
    background-color: hsl(29, 46%, 88%);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.categories__grid{
    cursor: pointer;
}

.categories__grid:hover{
    transform: translateY(-2rem);

}

@media (max-width: 880px){
    .categories__wrapper{
        position: relative;
        top: -100px;
    }
}

@media (max-width: 763px){
    .categories__wrapper{
        position: relative;
        top: 200px;
    }
}

@media (max-width: 433px){
    .categories__wrapper{
        position: relative;
        top: 250px;
    }
}

@media (max-width: 363px){
    .categories__wrapper{
        position: relative;
        top: 280px;
    }
}