header{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    justify-content: space-around;
}

.header__wrapper--right-nav{
    display: none;
}

nav{
    display: inline;
}

.header__wrapper--first ul{
    display: flex;
    flex-direction: row;
    list-style-type:none;
}

.bm-item-list{
    font-family: inherit;
    font-style: bold;
    padding: 0.5rem 1rem;
    margin: 5px 5px;
    align-items: center;
    border-radius: 1rem;
    outline: 0;
    border: none;
    box-sizing: none;
    transition: all .3s ease;
    -webkit-transition: all 0.5s ease;
    background-color: transparent;
    cursor: pointer;
    width: auto;
    text-decoration: none;
}

.header__wrapper--first a{
    color: #2D211C;
    text-decoration: none;
}

.header__wrapper--mid{
    text-align: center;
}

.header__wrapper--mid h1{
    color: #734f36;
    font-family: 'Libre Baskerville', serif;
}

.header__wrapper--mid sub{
    color: #2D211C;
    font-family: 'Libre Baskerville', serif;
    position: relative;
    top: -30px;
}

.header__wrapper--right{
    margin: 15px;
}

.signup__btn{
    font-family: inherit;
    font-style: bold;
    padding: 0.5rem 1rem;
    margin: 5px 5px;
    align-items: center;
    border-radius: 1rem;
    outline: 0;
    border: none;
    box-sizing: none;
    transition: all .3s ease;
    -webkit-transition: all 0.5s ease;
    background-color: transparent;
    border-color: #cfa784;
    background-color: #F9F8F6;
    color: #2D211C;
    cursor: pointer;
}

.signup__btn:hover{
    background-color: #F9F8F6;
    border: 1.5px solid #cfa784;
}

.hamburger {
    margin-top: 15px;
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #734f36;
    margin: 3px 0;
}

@media (max-width: 800px) {
    header{
        display: flex;
        justify-content: space-around;
    }

    nav {
        display: none;
    }

    nav.nav-open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 38px;
        padding-right: 30px;
        background-color: hsl(29, 46%, 88%);
        border-radius: 5px;
        z-index: 1000;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
    }

    .header__wrapper--mid h1{
        font-size: 20px;
    }
    
    .header__wrapper--mid sub{
        font-size: smaller;
        top: -20px;
    }

    .header__wrapper--right{
        display: none;
    }

    .header__wrapper--first ul{
        display: flex;
        flex-direction: column;
        list-style-type:none;
    }

    .header__wrapper--right-nav{
        display: block;
        display: flex;
        flex-direction: column;
    }
}