#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero h4{
    color: #475461;
}

.ring{
    border-radius: 50%;
    height: 450px;
    width: 450px;
    background-color: hsl(29, 46%, 88%)
}

.hero__wrapper{
    position: relative;
    top: -500px;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    align-items: center;
    height: 550px;
    margin: 0px 40px;
    color: #734f36;
}

.hero__wrapper img{
    position: relative;
    left: -50px;
}

.swiper-slide img{
    height: 100px;
}

.swiper-wrapper{
    display: flex;
    flex-direction: row;
}

.hero__wrapper p {
    color: gray;
    margin-bottom: 2.5rem;
}

.hero__wrapper--left{
    width: 100%;
    z-index: 999;
}

.hero__wrapper--left h4{
    color: var(--blue-color);
}

.hero__wrapper--left h1{
    font-size: 38px;
    margin: 1.2rem 0rem;
    color: var(--font-color);
}

.paragraph{
    padding-right: 100px;
}

.swiper-wrapper{
    display: flex;
    flex-direction: row;
    
    position: relative;
    left: 30px;
} 

.testSwiper{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.swiper-slide{
    border-radius: 15px;
    background-color: var(--font-color);
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.testSwiper img{
    width: 60px;
    height: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.link__add{
    text-decoration: underline;
    color: var(--blue-color);
    font-weight: bold;
}

.link__add:hover{
    transform: translateX(0.5rem) translateY(-0.5rem);
}

.btn__hero{
    font-family: inherit;
    font-style: bold;
    padding: 0.75rem 0.75rem;
    align-items: center;
    border-radius: 1rem;
    outline: 0;
    border: none;
    box-sizing: none;
    transition: all .3s ease;
    -webkit-transition: all 0.5s ease;
    background-color: #cfa784;
    color: #F9F8F6;
    cursor: pointer;
}

.btn__hero:hover{
    background-color: #cfa784;
    border: 1.5px solid #F9F8F6;
}


/*


@media (max-width: 1010px){

    .hero__wrapper{
        height: 500px;
        display: grid;
        grid-template-columns: 2fr 0fr 1fr;
        gap: 25px;
    }

    .hero__wrapper--mid{
        display: none;
    }
    .hero__wrapper--left{
        width: 100%;
        margin: 0px;
    }
}


@media (max-width: 775px){

    .hero__wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .hero__wrapper--mid{
        display: none;
    }
    .hero__wrapper--right{
        margin: 0px;
    }
}*/