.inspiration__wrapper{
    padding: 0px 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 500px;
}

.inspiration__wrapper p{
    color: gray;
}

.inspiration__wrapper h3{
    color: #475461;
}

.wrapper__header--p{
    width: 350px;
}

.inspiration__wrapper--detaile{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inspiration__wrapper--header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inspiration__wrapper--header h1{
    color: #734f36;
}

.wrapper__left--back{
    height: 400px;
    width: 300px;
    background-color: hsl(29, 46%, 88%);
}

.inspiration__wrapper--left img{
    position: relative;
    top: -350px;
    left: 50px;
    width: 300px;
    height: 400px;
}

.inspiration__wrapper--right{
    max-width: 500px;
    position: relative;
    top: 150px;
}

.inspiration__wrapper--right h1{
    color: #475461;
    font-weight: 700;
    font-size: 27px;
}

@media (max-width: 1300px) {
    .inspiration__wrapper--detaile{
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1000px) {
    .inspiration__wrapper--left {
        display: none;
    }
    
    .inspiration__wrapper--detaile{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inspiration__wrapper--right{
        display: flex;
        max-width: 900px;
        align-items: center;
        flex-direction: column;
        text-align: center;
        position: relative;
        top: 20px;
    }
}

@media (max-width: 1000px) {
    .inspiration__wrapper{
        position: relative;
        top: -250px;
    }

    .inspiration__wrapper--header h1{
        margin: 0px;
    }

    .inspiration__wrapper--right{
        position: relative;
        top: -30px;
    }

    .inspiration__wrapper--right h1{
        margin: 0px;
    }
}

@media (max-width: 880px) {
    .inspiration__wrapper{
        position: relative;
        top: -60px;
    }
}

@media (max-width: 763px) {
    .inspiration__wrapper{
        position: relative;
        top: 250px;
    }
}

@media (max-width: 385px) {
    .inspiration__wrapper{
        position: relative;
        top: 280px;
    }
}

@media (max-width: 363px) {
    .inspiration__wrapper{
        position: relative;
        top: 320px;
    }
}

@media (max-width: 355px) {
    .inspiration__wrapper{
        position: relative;
        top: 350px;
    }
}